body {
  margin: 20px;
  padding: 0;
  font-family: Poppins;
}
form {
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  margin: auto;
  background-color: #26425a;
  padding: 20px;
  max-width: 1170px;
  border-radius: 10px;
  font-family: Poppins;
}
h1 {
  text-align: center;
  color: black;
}
fieldset {
  border: 2px solid #26425a;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #86a8cf;
}
legend {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  color: white;
}
label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

input {
  margin-top: 5px ;
   
  font-size: 19px;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
  box-shadow: 0 4px 10px rgba(0, 0, 0,1);
  resize: none;
  color: black;
  font-family: Poppins;
}
textarea {
  font-family: Poppins;
  font-size: 19px;
  margin-top: 5px;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
  box-shadow: 0 4px 10px rgba(0, 0, 0,1);
  resize: none;
  color: black;
}
button { 
  margin: auto;
  display: block;
  margin-top: 10px;
  width: 50%;
  background-color: #86a8cf;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}
button:hover {  
  color: black;
}
#shareable-link-container{
  color: white;
  margin-top: 20px;
  padding: 20px;
  background-color: #86a8cf;
  border-radius: 10px;
  max-width: 1170px;
  margin: auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  outline: none;
  font-family: Poppins;
}
.display-resume-btn {
  margin: auto;
  display: block;
  margin-top: 10px;
  background-color: #26425a;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  width: 20%;
}

